################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Source/.vs
/Source/bin
/Source/obj
/Source/packages
/AssetGeneratorTests/.vs
/AssetGeneratorTests/bin
/AssetGeneratorTests/obj
/AssetGeneratorTests/packages
